<div class="habit-card">
  {{#if isEditing}}
    <div class="form-group">
      {{input class="form-control" value=habit.title placeholder="Title"}}
    </div>
    <button class="btn btn-primary" {{action "save"}}>Save</button>
    <button class="btn" {{action "cancel"}}>Cancel</button>
    <button class="btn btn-danger pull-right" {{action "delete"}}><span class="glyphicon glyphicon-trash"></span></button>

  {{else}}
    <a class="habit-link" {{action "edit"}}>{{habit.title}}</a>
    {{habit.streak}}
    <div class="row day-row">
      <!-- TODO limit to 5 days -->
      {{#each habit.days as |day|}}
        <div class="col-md-2">
          {{habit-day day=day tooltipContent=day.date}}
        </div>
      {{/each}}
    </div>

    <p>{{habit.daysCompleted}}</p>
    <button class="btn btn-danger btn-habit-log pull-right" {{action "logDay" false}}><span class="glyphicon glyphicon-remove"></span></button>
    <button class="btn btn-success btn-habit-log pull-right" {{action "logDay" true}}><span class="glyphicon glyphicon-ok"></span></button>
  {{/if}}
</div>
