<div class="habit-card">
  {{#if isEditing}}
    <div class="form-group">
      <label for="habit-title-edit">Habit Name</label>
      {{input id="habit-title-edit" class="form-control" value=habit.title placeholder="Title"}}

      <label for="input-notes-edit">Notes</label>
      {{textarea id="input-notes-edit" class="form-control" value=habit.notes rows="6" placeholder="Notes"}}
    </div>

    <strong>Active Days</strong>
    <div class="row">
      <div class="col-md-10 col-xs-10">
        <div class="day-list">
          {{#active-day-edit habit=habit day="mon" isActive=habit.activeDays.mon}}M{{/active-day-edit}}
          {{#active-day-edit habit=habit day="tue" isActive=habit.activeDays.tue}}T{{/active-day-edit}}
          {{#active-day-edit habit=habit day="wed" isActive=habit.activeDays.wed}}W{{/active-day-edit}}
          {{#active-day-edit habit=habit day="thu" isActive=habit.activeDays.thu}}T{{/active-day-edit}}
          {{#active-day-edit habit=habit day="fri" isActive=habit.activeDays.fri}}F{{/active-day-edit}}
          {{#active-day-edit habit=habit day="sat" isActive=habit.activeDays.sat}}S{{/active-day-edit}}
          {{#active-day-edit habit=habit day="sun" isActive=habit.activeDays.sun}}S{{/active-day-edit}}
        </div>
      </div>
    </div>
    <strong>Reminders</strong>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="input-startDate">Starts</label>
          {{bootstrap-datepicker id="input-startDate" value=startDate todayHighlight=true todayBtn=true autoclose=true weekStart=1}}

          <label for="input-startTime">At</label>
          {{input id="input-startTime" type="time" value=startTime class="form-control"}}

          <label for="input-endDate">Ends</label>
          {{bootstrap-datepicker id="input-endDate" value=endDate todayHighlight=true todayBtn=true autoclose=true weekStart=1}}

          <label for="input-endTime">At</label>
          {{input id="input-endTime" type="time" value=endTime class="form-control"}}
        </div>
        <button class="btn btn-default" {{action "addEvent"}}>Add Event</button>
      </div>
    </div>


    <button class="btn btn-primary" {{action "save"}}>Save</button>
    <button class="btn btn-default" {{action "cancel"}}>Cancel</button>
    <button class="btn btn-danger pull-right" {{action "delete"}}><span class="glyphicon glyphicon-trash"></span></button>

  {{else}}
    <a class="habit-link" {{action "edit"}}>{{habit.title}}</a>
    <p>{{habit.notes}}</p>
    {{bootstrap-datepicker-inline value=habit.days multidate=true todayHighlight=true endDate=today todayBtn=true weekStart=1}}
  {{/if}}
</div>
