<li class="step-list-item {{if step.isDone 'step-done'}}">
  {{#if isEditing}}
    <div class="step-edit">
      {{input type="checkbox" name="isDone" checked=step.isDone}}
      {{input class="step-input" value=step.title placeholder="Enter task" insert-newline='save'}}
      <button {{action "save"}} class="btn btn-primary hidden-xs">Save</button>
      <button {{action "cancel"}} class="btn btn-default hidden-xs">Cancel</button>
    </div>
  {{else}}
    {{input type="checkbox" name="isDone" checked=step.isDone}}
    <a {{action "edit" on='click'}}>{{step.title}}</a>
    <button class="btn btn-icon-only" {{action "delete"}}><span class="glyphicon glyphicon-remove"></span></button>
  {{/if}}
</li>
