{{#if isEditing}}
  <!-- Title -->
  <div class="form-group">
    <label for="goal-title">Goal Title</label>
    {{input class="form-control" value=model.title placeholder="Title" id="goal-title" }}
  </div>
  <!-- Description -->
  <div class="form-group">
    <label for="goal-description">Goal Description</label>
    <span class="text-muted">Markdown Supported</span>
    {{textarea class="form-control" value=model.description rows="6" placeholder="Description" id="goal-description" }}
  </div>
  <button class="btn btn-primary" {{action "save"}}>Save</button>
  <button class="btn btn-default" {{action "cancel"}}>Cancel</button>
  <button class="btn btn-danger pull-right" {{action "delete"}}><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
{{else}}
  <h2>{{model.title}}</h2>
  <p class="text-muted"> {{moment-from-now model.dateCreated}}</p>
  {{#if model.description}}
    {{markdown-to-html markdown=model.description}}
  {{else}}
    <p>Edit description</p>
  {{/if}}

  <!-- Steps / Checklist -->
  <h3>Steps / Checklist</h3>
  {{add-step goalId=model.id}}
  <ul class="step-list">
    {{#each model.steps as |step|}}
      {{step-item step=step deleteStep=(action 'deleteStep')}}
    {{/each}}
  </ul>

  <!-- Habit List -->
  <h3>Habits</h3>
  {{add-habit goalId=model.id}}
  {{habit-list habits=model.habits addEvent=(action 'addEvent')}}
  <button class="btn btn-primary" {{action "edit"}}>Edit Goal</button>
{{/if}}
