{{#if isEditing}}
  <!-- Title -->
  <div class="form-group">
    <label for="goal-title">Goal Title</label>
    {{input class="form-control" value=model.title placeholder="Title" id="goal-title" }}
  </div>
  <!-- Description -->
  <div class="form-group">
    <label for="goal-description">Goal Description</label>
    {{textarea class="form-control" value=model.description rows="6" placeholder="Description" id="goal-description" }}
  </div>
  <button class="btn btn-primary" {{action "save"}}>Save</button>
  <button class="btn btn-default" {{action "cancel"}}>Cancel</button>
  <button class="btn btn-danger pull-right" {{action "delete"}}><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>

{{else}}
  <h2>{{model.title}}</h2>
  <p class="text-muted"> {{moment-from-now model.dateCreated}}</p>

  <!-- Description -->
  {{#if model.description}}
    <p>{{model.description}}</p>
  {{else}}
    <p>Edit description</p>
  {{/if}}

  <!-- Steps / Checklist -->
  <!-- <h3>Steps</h3>
  {{add-step goalId=model.id}}
  <div class="step-list">
    {{#each model.steps as |step|}}
      <div class="step-list-item {{if step.isDone 'step-done'}}">
        {{input type="checkbox" name="isDone" checked=step.isDone}} -->

        <!-- {{#if step.isDone}}
          <button {{action "check"}} class="btn btn-default"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
        {{else}}
          <button {{action "check"}} class="btn btn-default"><span aria-hidden="true"></span></button>
        {{/if}} -->

        <!-- {{step.title}}
      </div>
    {{/each}}
  </div> -->

  <!-- Habit List -->
  <h3>Habits</h3>
  {{add-habit goalId=model.id}}
  {{habit-list habits=model.habits logDay=(action 'logDay')}}


  <button class="btn btn-primary" {{action "edit"}}>Edit Goal</button>
{{/if}}
