<div class="row">
  <h2>Add Goal:</h2>
  <!-- {{add-goal action='createGoal'}} -->
  {{input value=title placeholder="Title"}}
  <button {{action "createGoal"}} name="button">Add Goal</button>
  {{outlet}}
</div>

<div class="row">
  <h2>All Goals:</h2>
  {{goal-list goals=model}}
</div>
